@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Heebo:wght@100..900&display=swap');
@import "tailwindcss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select-box {
    background-color: #313131;
    /* background: linear-gradient(45deg, #434343c7, #313131, #313131) */
}